<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список студентов</title>
    <link rel = "stylesheet" href = "/public/css/style.css">

    <nav class = 'menu'>
        <ul class = "topmenu">
            <li><a href="#">Мои действия</a>
                <ul class = "submenu">
                    
                   <% if(role == "староста") { %>
                        <li><a href="/visit">Журнал посещений студентов</a></li>
                        <li><a href='/report_st'>Отчет</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else if(role == "сотрудник деканата"){ %>
                        <li><a href="/report_dek">Отчет</a></li>
                        <li><a href="/students">Студенты</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else{ %>
                        <li><a href="/user">Пользователи</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } %>
                </ul>
            </li>
            <li style = "font-weight: bold; color: white"><%= role %> <%= name %></li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>

   <script>
       window.outerWidth = 200;
window.outerHeight = 300;
   </script>
</head>
<body> 
    <br>
    <form name = "form" method="post" action = "/students">
        <div class = "mark">
            <input style="text-align:center" list = "group" name = "group" id = "grp">
            <datalist id = "group">
                <option value="IDB-16-01"></option>
                <option value="IDB-16-02"></option>
                <option value="IDB-16-03"></option>
            </datalist>
        </div>
        <table class = 'table'>
            <tr>
                <th>№</th>
                <th>Фамилия, Имя, Отчество студента</th>
                <th>Код направления</th>
            </tr>
            
            <% arr.forEach((item) =>{ %>
        <tr>
            <td><%= item.ID %></td>
            <td><%= item.fullname  %></td>
            <td><%= item.kod  %></td>
        <% }); %>
        </tr>
        </table>

        <!-- <div class = 'knopka' id = "btn">
            <input onclick = "GroupOpen()" type = 'submit' value = 'Загрузить группу' class = 'button' style="width: 200px; margin-right: 50px; margin-top: 25px;">
        </div> -->

        <div class = 'knopka' id = "btn">
            <input onclick = "OpenAdd()" type = 'submit' value = 'Загрузить группу' class = 'button' style="width: 200px; margin-right: 50px; margin-top: 25px;">
            <input onclick = "OpenDelete()" type = 'submit' value = 'Удалить' class = 'button' style="width: 200px; margin-right: 50px; margin-top: 25px;">
        </div>
        <!-- <div class = 'knopka' id = "btn"></div>  -->
        <!-- <div class = 'knopka' id = "divBtn"></div> -->
    </form>

    
    <script>
        function GroupOpen(){
            // win = window.open("studentAdd","Добавление студента","top=150,left=250,height=400,width=900");
            // var btn = document.getElementById("btn");
            // btn.innerHTML = '<input onclick = "OpenAdd()" type = "submit" type="button" value="Добавить" class = "button" style="margin-right: 50px; margin-top: 25px;">';

            // var divBtn = document.getElementById("divBtn");
            // divBtn.innerHTML = '<input onclick = "OpenDelete()" type = "submit" type="button" value="Удалить" class = "button" style="margin-top: 25px;">';   
        }
        function OpenAdd(){
            win = window.open("studentAdd","Добавление студента","top=150,left=250,height=400,width=900");
        }

        function OpenDelete(){
            win = window.open("studentsDelete", "Удаление студентов", "top=150,left=250,height=400,width=900");
        }
    </script>
</body>
</html>

