<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
    <link rel = "stylesheet" href = "/public/css/style.css">

    <nav class = 'menu'>
        <ul class = "topmenu">
            <li><a href="#">Мои действия</a>
                <ul class = "submenu">
                    
                   <% if(role == "староста") { %>
                        <li><a href="/visit">Журнал посещений студентов</a></li>
                        <li><a href='/report_st'>Отчет</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else if(role == "сотрудник деканата"){ %>
                        <li><a href="/report_dek">Отчет</a></li>
                        <li><a href="/students">Студенты</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } else{ %>
                        <li><a href="/user">Пользователи</a></li>
                        <li><a href="/password">Сменить пароль</a></li>
                        <li><a href="/">Выход</a></li>
                    <% } %>
                </ul>
            </li>
            <li style = "font-weight: bold; color: white"><%= role %> <%= name %></li>
            <li><a href="/">Выход</a></li>
        </ul>
    </nav>
</head>
<body> 
    <br>
    <table class = 'table'>
        <tr>
            <th>№</th>
            <th>Фамилия, Имя, Отчество старосты</th>
            <th>Группа</th>
        </tr>
        
        <% arr.forEach((item) =>{ %>
       <tr>
           <td><%= item.id %></td>
           <td><%= item.fullname  %></td>
           <td><%= item.login  %></td>
       <% }); %>
       </tr>

       <tr>
    </table>

    <div class = 'knopka'>
        <input onclick = "OpenAdd()" type = 'submit' value = 'Добавить' class = 'button' style="margin-right: 50px; margin-top: 25px;">
        <input onclick = "OpenDelete()" type = 'submit' value = 'Удалить' class = 'button' style="margin-top: 25px;">
    </div>

    <script>
        function OpenAdd(){
            win = window.open("userAdd", "Добавить студента", "top=150,left=250,height=500,width=900");
        }

        function OpenDelete(){
            win = window.open("userDelete", "Удаление студентов", "top=150,left=250,height=200,width=900");
        }
    </script>
</body>
</html>